In [ ]:
# tutorial 2024-06-02 https://www.tutorialspoint.com/sqlite/sqlite_python.htm

import sqlite3

from bottle import route, run, template

@route('/greet/<name>')
def index(name):
    
    conn = sqlite3.connect('test.db')
    print ("Opened database successfully");

    query = "SELECT id, name, address, salary from COMPANY WHERE NAME='" + name + "' "
    cursor = conn.execute(query)
    print("Query is ", query)
    addr = 'unknown'
    for row in cursor:
       print ("ID = ", row[0])
       print ("NAME = ", row[1])
       print ("ADDRESS = ", row[2])
       print ("SALARY = ", row[3], "\n")
       addr = row[2]

    
    return template('<b>Hello {{name}} {{addr}}</b>', name=name, addr=addr)
#     return template('<b>Hello {{name}} </b>', name=name)
run(host='localhost', port=8080)

Bottle v0.12.25 server starting up (using WSGIRefServer())...
Listening on http://localhost:8080/
Hit Ctrl-C to quit.

127.0.0.1 - - [02/Jun/2024 22:16:38] "GET /hello/Teddy HTTP/1.1" 404 742
127.0.0.1 - - [02/Jun/2024 22:16:40] "GET /hello/Teddy HTTP/1.1" 404 742

Opened database successfully
Query is  SELECT id, name, address, salary from COMPANY WHERE NAME='Teddy'
ID =  3
NAME =  Teddy
ADDRESS =  Norway
SALARY =  20000.0

127.0.0.1 - - [02/Jun/2024 22:17:00] "GET /greet/Teddy HTTP/1.1" 200 25

Opened database successfully
Query is  SELECT id, name, address, salary from COMPANY WHERE NAME='Teddy'
ID =  3
NAME =  Teddy
ADDRESS =  Norway
SALARY =  20000.0

127.0.0.1 - - [02/Jun/2024 22:17:02] "GET /greet/Teddy HTTP/1.1" 200 25

Opened database successfully
Query is  SELECT id, name, address, salary from COMPANY WHERE NAME='Teddy'
ID =  3
NAME =  Teddy
ADDRESS =  Norway
SALARY =  20000.0

127.0.0.1 - - [02/Jun/2024 22:18:38] "GET /greet/Teddy HTTP/1.1" 200 25

Opened database successfully
Query is  SELECT id, name, address, salary from COMPANY WHERE NAME='Teddy'
ID =  3
NAME =  Teddy
ADDRESS =  Norway
SALARY =  20000.0

127.0.0.1 - - [02/Jun/2024 22:19:22] "GET /greet/Teddy HTTP/1.1" 200 25

Opened database successfully
Query is  SELECT id, name, address, salary from COMPANY WHERE NAME='Teddy'
ID =  3
NAME =  Teddy
ADDRESS =  Norway
SALARY =  20000.0

127.0.0.1 - - [02/Jun/2024 22:59:57] "GET /greet/Teddy HTTP/1.1" 200 25

Opened database successfully
Query is  SELECT id, name, address, salary from COMPANY WHERE NAME='Teddy'
ID =  3
NAME =  Teddy
ADDRESS =  Sweden
SALARY =  20000.0

127.0.0.1 - - [02/Jun/2024 23:00:21] "GET /greet/Teddy HTTP/1.1" 200 25

Opened database successfully
Query is  SELECT id, name, address, salary from COMPANY WHERE NAME='Pepe'
ID =  3
NAME =  Pepe
ADDRESS =  Portugal
SALARY =  20000.0

127.0.0.1 - - [02/Jun/2024 23:01:36] "GET /greet/Pepe HTTP/1.1" 200 26

In [ ]:
import sqlite3

conn = sqlite3.connect('test.db')

print("Opened database successfully");

In [ ]:
conn = sqlite3.connect('test.db')
print ("Opened database successfully");

conn.execute('''CREATE TABLE COMPANY
         (ID INT PRIMARY KEY     NOT NULL,
         NAME           TEXT    NOT NULL,
         AGE            INT     NOT NULL,
         ADDRESS        CHAR(50),
         SALARY         REAL);''')
print ("Table created successfully");

conn.close()

In [ ]:
conn = sqlite3.connect('test.db')
print ("Opened database successfully");

conn.execute("INSERT INTO COMPANY (ID,NAME,AGE,ADDRESS,SALARY) \
      VALUES (1, 'Paul', 32, 'California', 20000.00 )");

conn.execute("INSERT INTO COMPANY (ID,NAME,AGE,ADDRESS,SALARY) \
      VALUES (2, 'Allen', 25, 'Texas', 15000.00 )");

conn.execute("INSERT INTO COMPANY (ID,NAME,AGE,ADDRESS,SALARY) \
      VALUES (3, 'Teddy', 23, 'Norway', 20000.00 )");

conn.execute("INSERT INTO COMPANY (ID,NAME,AGE,ADDRESS,SALARY) \
      VALUES (4, 'Mark', 25, 'Rich-Mond ', 65000.00 )");

conn.commit()
print ("Records created successfully");
conn.close()

In [ ]:
conn = sqlite3.connect('test.db')
print ("Opened database successfully");

cursor = conn.execute("SELECT id, name, address, salary from COMPANY WHERE NAME='Paul' ")
for row in cursor:
   print ("ID = ", row[0])
   print ("NAME = ", row[1])
   print ("ADDRESS = ", row[2])
   print ("SALARY = ", row[3], "\n")

print ("Operation done successfully");
conn.close()